body {
	background-color: #FFDCDC;
}

nav {
  background-color: #FF5050;
  font-family: Arial, sans-serif;
}

a {
  background-color: #CC4040;
  color: yellow;
  text-decoration: none;
  display: block;
  float: left;
  padding: 20px;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

div p { 
    background-color: yellow;
    font-size: 2.5em
    padding-top: 2em;
    max-width: 400px;
}
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
